@using Ecommerce.ViewModels
@model List<ProductsViewModel>

<div class="card p-2 m-4">
    <h2 class="text-center mt-4 ">All Plants</h2>

    <div class=" px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model)
            {
                <div class="col-md-3 mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div style="width:100%; height:300px; overflow:hidden;">
                            <img src=@product.ImageUrl
                                 alt="product_Img"
                                 class="w-100 h-100 object-fit-cover" />
                        </div>
                        
                         <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@product.Name</h5>
                                @* category name *@
                                <p class="text-black-50">@product.CategoryName</p>
                                <!-- Product price-->
                                <span>$ @product.Price </span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn my-no-hover mt-auto px-3 rounded-5"  asp-area="user" asp-controller="home" asp-action="ProductDetails" asp-route-id="@product.Id">More Details</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    </div>
