header {
    background-image: url('../imgs/headerbg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 44%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

}
 
