@model Product

@{
    ViewBag.PageTitle = $"Edit Product # {Model.Id}";
    ViewBag.BtnTitle = "Show All Products";
    ViewBag.BtnAspController = "products";

}

@*خطوات التنفيذ :
1. on submit=> check client side validation without call action (check all inputs without image)
2. if everything is ok => call action=> check server side validation in order (model state then file )
so if file is invalid ,thats appear after check all other inputs 
ملخص:
1. تحديد data annotation in model (validation reference) + write form using tag helper 
all inputs without file=> client side validation, server side validation , update in database (Done)
file=> server side validation , update in database (Done)
*@
<form class="m-auto w-50" method="post" asp-area="admin" asp-controller="products" asp-action="UpdateProduct" asp-route-id=@Model.Id enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control rounded-5 " placeholder="" />
        <label asp-for="Name"></label>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <textarea asp-for="Description" class="form-control rounded-5 " rows="6" placeholder="Description">@Model.Description</textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Price" class="form-control rounded-5 " placeholder="" />
        <label asp-for="Price"> </label>
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Quantity" class="form-control rounded-5 " placeholder="" />
        <label asp-for="Quantity"></label>
        <span class="text-danger" asp-validation-for="Quantity"></span>
    </div>
    <div class="mb-3">
        <select asp-for="CategoryId" class="form-control rounded-5">
            <option value="" selected disabled>Category Name</option>
            @foreach (var category in ViewBag.categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>

    </div>
    <div>
        <span>Old Image :</span>
        <div class=" m-auto mb-2  w-25 border border-2  ">
            <img src="~/uploads/products/@Model.Image" alt="product_Img" class="w-100">
        </div>
    </div>
    <div class=" mb-3">
        <input type="file" class="form-control rounded-5 p-3 " name="file" />
        <span class="text-danger" asp-validation-for="Image"></span>

    </div>


    <button type="submit" class="btn btn-success rounded-5 px-4 w-25">Update</button>
</form>